# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Stray generated artifacts
src/generated/resources/*.jar

# runtime logs
logs
*.log
*.log.gz
runclient_attempt.log
